.feature-toggle__page-title {
    width: 400px;
}

.feature-toggle__page-title, .feature-toggle__title {
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.feature-toggle__title, .feature-toggle__name, .feature-toggle__enabled {
    display: inline-block;
    width: 200px;
    text-align: center;
}