.order__metadata {
  display: flex;
  justify-content: space-between;
}

.order__id {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1.5em;
}

.order__date,
.order__status {
  font-size: 0.9em;
}
