.manage-orders-table {
    display: table;
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
}

.manage-orders-table th {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.manage-orders-table td,
.manage-orders-table th {
    padding: 0.4em;
}

.manage-orders-table button {
    width: 150px;
}
