body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea,
input,
button {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #999999;
}

input[type='checkbox'] {
  -webkit-appearance: checkbox;
}

button,
input[type='button'],
.button {
  border: none;
  cursor: pointer;
}

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5em 0.8em;
  margin: 0.5em 0.5em 0.5em 0;
  min-width: 40px;
  font-weight: bold;
}

.button--primary {
  background-color: #0079bf;
  color: white;
}

.button--secondary {
  background-color: white;
  color: #0079bf;
}

.input-error {
  color: red;
  display: inline-block;
}

.input-success {
  color: #52c41a;
}

label {
  display: block;
  margin-bottom: 5px;
}

.label, .form-label {
  display: inline-block;
  min-width: 120px;
  margin-right: 0.5em;
}

.form-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
