.manage-items__current-items-title {
  margin: 1em 0;
  font-weight: bold;
}

.manage-items__current-items thead td {
  font-weight: bold;
}

.manage-items table td {
  position: relative;
  padding: 0.5em;
  padding-left: 0;
}
.manage-items table .input-error {
  position: absolute;
  bottom: -6px;
  left: 0;
}
