.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #1485E5;
  height: 80px;
}

.navbar__logo-name {
  font-size: 20px;
  margin-left: 10px;
}

.navbar__links{
  margin-right: 72px;
}

.navbar__links li{
  color: #fff;
  float: left;
  margin-left: 10px;
}

.navbar__logout-button {
  color: inherit;
  background-color: inherit;
}

.navbar__welcome {
  color: #0079bf;
}

.navbar__logo{
  width: 70px;
  height: 70px;
  margin-left: 72px;
}