
.termsAndConditions{
    padding: 25px 0px 50px;
    display: flex;
    flex-direction: column;
}

.TC-main-title{
    text-align: center;
    color: #1485E5;
}

.TC-body{
    font-size: 20px;
    margin: 50px 150px;
    padding: 40px 50px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
    line-height: 30px;
}

.TC-body p{
    margin-bottom: 25px;
}

.TC-body h2{
    font-size: 27px;
}

.TC-save-button p{
    background-color: black;
    width: 100px;
    color: #fff;
    font-weight: bold;
    margin: auto;
    border-radius: 50px;
    height: 20px;
}