.cookie-modal {
    position: sticky;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #0E0E0E;
    color: #ffffff;
    margin: auto;
    padding: 20px 100px 20px 100px;
    position: relative;
    width: 100%;
    text-align: center;
}

.close {
    float: right;
    margin-top: 7px;
    margin-left: 20px;
    cursor: pointer;
}

.img-icon{
    margin-right: 20px;
}