.footer {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.footer__links {
    padding: 22px;
    background: #000E18;
    display: flex;
    justify-content: space-around;
}

.footer__copyright {
    background: #1068B3;
    padding: 14px;
    font-size: 12px;
}