#country-message {
    font-style: italic;
    font-size: 12px;
    margin: 10px 0;
}

.termsAndConditions__wrapper {
    display: flex;
    align-items: center;
    margin-left: -8px;
    margin-top: 15px;
}

.termsAndConditions__wrapper label {
    display: flex;
    align-items: baseline;
    margin-left: 8px;
}

.termsAndConditions__wrapper span {
    margin-left: 5px;
}

.termsAndConditions__wrapper  a {
    text-decoration: underline;
    font-weight: 600;
}
