.item,
.item__name,
.item__type,
.item__description,
.item__quantity {
  margin-bottom: 1em;
}

.item__name,
.item__price {
  font-weight: bold;
}

.item__type {
  font-size: 0.8em;
}

.item__description {
  max-width: 1000px;
}

.price__container {
  display: flex;
}

.price__container > div {
  width: auto;
  margin-right: 5px;
}

.vat__container {
  display: flex;
  padding-top: 7px;
  font-size: 12px;
}

.vat__icon {
  margin: 0px 5px;
  width: 14px;
}

.bubble-text {
  background:#1068B3;
  color:#fff;
  padding:7px 15px;
  border-radius:3px;
  font-size: 12px;
}